.cell {
  width: 40px;
  height: 20px;
  border: 1px solid grey;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &:focus {
    outline: 1px solid #7a2ec7;
  }
}

.cell-readonly {
  cursor: auto;
  &:focus {
    outline: none;
  }
}

.cell-text {
  width: auto;
}
